# anchors
.altherma_base: &altherma_base
  platform: altherma_hub
  altherma_hub_id: altherma_hub_1

.temp: &temp
  <<: *altherma_base
  device_class: temperature
  unit_of_measurement: °C
  state_class: measurement
  accuracy_decimals: 1

.binary: &binary
  <<: *altherma_base

.current: &current
  <<: *altherma_base
  device_class: current
  unit_of_measurement: A
  icon: mdi:current-ac
  state_class: measurement
  accuracy_decimals: 1  

.voltage: &voltage
  <<: *altherma_base
  device_class: voltage
  unit_of_measurement: V
  state_class: measurement

.rps: &rps
  <<: *altherma_base
  unit_of_measurement: rps
  state_class: measurement

.rpm: &rpm
  <<: *altherma_base
  unit_of_measurement: rpm
  state_class: measurement

.text: &text
  <<: *altherma_base

sensor:
  - <<: *temp
    name: Temp. d air extérieur(R1T)
    register: 0x20
    offset: 0
    convid: 105
    datasize: 2
  # - <<: *temp
  #   name: O/U Heat Exch. Temp.
  #   register: 0x20
  #   offset: 2
  #   convid: 105
  #   datasize: 2
  # Returns: 0
  - <<: *temp
    name: Discharge pipe temp.
    register: 0x20
    offset: 4
    convid: 105
    datasize: 2
    entity_category: diagnostic
  # - <<: *temp
  #   name: Suction pipe temp.
  #   register: 0x20
  #   offset: 6
  #   convid: 105
  #   datasize: 2
  # Returns: 0
  - <<: *temp
    name: Heat exchanger mid-temp.
    register: 0x20
    offset: 8
    convid: 105
    datasize: 2
    entity_category: diagnostic
  # - <<: *temp
  #   name: Liquid pipe temp. (R6T)
  #   register: 0x20
  #   offset: 10
  #   convid: 105
  #   datasize: 2
  # Returns: 0
  - <<: *temp
    name: Heat sink temp.
    register: 0x20
    offset: 12
    convid: 105
    datasize: 2
  #- <<: *altherma_base
  #  name: Pressure sensor
  #  register: 0x20
  #  offset: 14
  #  convid: 105
  #  datasize: 2
  - <<: *altherma_base
    name: Pressure sensor (T)
    register: 0x20
    offset: 14
    convid: 405
    datasize: 2
  # Returns: -51.1813011169434
  - <<: *current
    name: INV primary current (A)
    register: 0x21
    offset: 0
    convid: 105
    datasize: 2
  - <<: *current
    name: INV secondary current (A)
    register: 0x21
    offset: 2
    convid: 105
    datasize: 2
  - <<: *voltage
    name: Voltage (N-phase) (V)
    register: 0x21
    offset: 4
    convid: 101
    datasize: 2

  - <<: *rps
    name: INV frequency (rps)
    register: 0x30
    offset: 0
    convid: 152
    datasize: 1
  - <<: *rpm
    name: Fan 1 (10 rpm)
    register: 0x30
    offset: 0
    convid: 211
    datasize: 1
    filters:
      - multiply: 10
  - <<: *rpm
    name: Fan 2 (step)
    register: 0x30
    offset: 1
    convid: 211
    datasize: 1

  - <<: *temp
    name: DHW setpoint
    register: 0x60
    offset: 7
    convid: 105
    datasize: 2
  - <<: *temp
    name: LW setpoint (main)
    register: 0x60
    offset: 9
    convid: 105
    datasize: 2
  - <<: *temp
    name: Leaving water temp. before BUH (R1T)
    register: 0x61
    offset: 2
    convid: 105
    datasize: 2
  - <<: *temp
    name: Leaving water temp. after BUH (R2T)
    register: 0x61
    offset: 4
    convid: 105
    datasize: 2
  - <<: *temp
    name: Refrig. Temp. liquid side (R3T)
    register: 0x61
    offset: 6
    convid: 105
    datasize: 2
  - <<: *temp
    name: Inlet water temp. (R4T)
    register: 0x61
    offset: 8
    convid: 105
    datasize: 2
  - <<: *temp
    name: DHW tank temp. (R5T)
    register: 0x61
    offset: 10
    convid: 105
    datasize: 2
  - <<: *temp
    name: Indoor ambient temp. (R1T)
    register: 0x61
    offset: 12
    convid: 105
    datasize: 2
  # - <<: *temp
  #   name: Ext. indoor ambient sensor (R6T)
  #   register: 0x61
  #   offset: 14
  #   convid: 105
  #   datasize: 2
  # Returns: 0
  - <<: *altherma_base
    name: Flow sensor (l/min)
    register: 0x62
    offset: 9
    convid: 105
    datasize: 2
    unit_of_measurement: l/min
    state_class: measurement
    accuracy_decimals: 1
  - <<: *altherma_base
    name: Water pressure (bar)
    register: 0x62
    offset: 11
    convid: 105
    datasize: 1
    device_class: pressure
    unit_of_measurement: bar
    state_class: measurement
    accuracy_decimals: 1
  - <<: *altherma_base
    name: "Water pump signal (0:max-100:stop)"
    register: 0x62
    offset: 12
    convid: 152
    datasize: 1
    accuracy_decimals: 0
binary_sensor:
  - <<: *binary
    name: Defrost Operation
    register: 0x10
    offset: 1
    convid: 304
    datasize: 1
  - <<: *binary
    name: Thermostat ON/OFF
    device_class: running
    register: 0x60
    offset: 2
    convid: 303
    datasize: 1
  # - <<: *binary
  #   name: STD Compressor 1
  #   register: 0x30
  #   offset: 0
  #   convid: 307
  #   datasize: 1
  # Returns: Off
  - <<: *binary
    name: Freeze Protection
    device_class: cold
    register: 0x60
    offset: 2
    convid: 302
    datasize: 1
  - <<: *binary
    name: Silent Mode
    device_class: sound
    register: 0x60
    offset: 2
    convid: 301
    datasize: 1
  - <<: *binary
    name: 3way valve(On:DHW_Off:Space)
    register: 0x60
    offset: 12
    convid: 306
    datasize: 1
  - <<: *binary
    name: BSH
    register: 0x60
    offset: 12
    convid: 305
    datasize: 1
  - <<: *binary
    name: BUH Step1
    register: 0x60
    offset: 12
    convid: 304
    datasize: 1
  - <<: *binary
    name: BUH Step2
    register: 0x60
    offset: 12
    convid: 303
    datasize: 1
  - <<: *binary
    name: Powerful DHW Operation. ON/OFF
    register: 0x62
    offset: 2
    convid: 304
    datasize: 1

text_sensor:
  - <<: *text
    name: I/U operation mode
    icon: mdi:state-machine
    register: 0x60
    offset: 2
    convid: 315
    datasize: 1
  - <<: *text
    name: Error Code
    register: 0x60
    offset: 3
    convid: 204
    datasize: 1
  - <<: *text
    name: Error detailed code
    register: 0x60
    offset: 4
    convid: 152
    datasize: 1
  - <<: *text
    name: Error type
    register: 0x60
    offset: 5
    convid: 203
    datasize: 1   
  # - <<: *text
  #   name: "Indoor Unit Capacity Code"
  #   register: 0x60
  #   offset: 6
  #   convid: 219
  #   datasize: 1
  # Returns: Conv 219 not avail.
  # - <<: *text
  #   name: "Indoor Unit Software ID XX"
  #   register: 0x60
  #   offset: 15
  #   convid: 215
  #   datasize: 1
  # - <<: *text
  #   name: "Indoor Unit Software ID YY"
  #   register: 0x60
  #   offset: 14
  #   convid: 215
  #   datasize: 1
  # - <<: *text
  #   name: "Indoor Unit EEPROM Version"
  #   register: 0x60
  #   offset: 16
  #   convid: 152
  #   datasize: 1
  # Returns: 0