# Exemple de fichier ".gitignore" dans votre dossier "config/".
# 
# Une * garantie que tout sera ignoré.
*
# Vous pouvez ajouter des fichiers/dossiers à la liste blanche avec !, ceux-ci ne seront pas ignorés.
!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*
!*.csv
!*.png
!*.jpg
!*.dash
!*.py


!*/


# Ignore these files/folders
secrets.yaml
home-assistant.log
home-assistant.log1
.storage

