
substitutions:
  device_name: esp145-qualite-air-ikea
  adress_ip: "192.168.0.145"
  friendly_name: esp145
  time_timezone: "Europe/Paris"
  
esphome:
  name: ${device_name}
  project:
    name: "rem81.qualite-air-ikea"
    version: "1.0.0"

esp8266:
  board: d1_mini
  framework:
    version: recommended

wifi:
  networks:
    - ssid: !secret wifi
      password: !secret mdpwifi
      priority: 0
  reboot_timeout: 5min
  min_auth_mode: WPA2
  manual_ip:
    static_ip: ${adress_ip}
    gateway: 192.168.0.254
    subnet: 255.255.255.0

# Enable logging
logger:
  baud_rate: 0

# Enable Home Assistant API
api:

ota:
  platform: esphome
web_server:
  port: 80

uart:
- id: uart_a
  rx_pin: D2
  baud_rate: 9600
  
- id: uart_b
  rx_pin: GPIO3
  tx_pin: GPIO1
  baud_rate: 9600


#Etat de la connection
binary_sensor:
  - platform: status
    name: "${friendly_name} Status"

switch:    
  - platform: template
    name: "Calibration zero Mh_Z19 CO2"
    turn_on_action:
      - mhz19.calibrate_zero: mh_z19
      - switch.turn_off: co2_cal
    id: co2_cal
    
  - platform: restart
    name: "${friendly_name} Restart"
    
        
sensor:

  - platform: pm1006
    uart_id: uart_a
    pm_2_5:
      name: "${friendly_name} Conc.Particules 2.5µm"
      accuracy_decimals: 2
      filters:
        - sliding_window_moving_average:
            window_size: 50
            send_every: 10 
            send_first_at: 10
            
  - platform: mhz19
    uart_id: uart_b
    id: mh_z19
    co2:
      name: "${friendly_name} MH_Z19 CO2 Value"
      id: co2
      accuracy_decimals: 0
      filters:
        - sliding_window_moving_average:
            window_size: 12 # moyenne sur 12 lecture
            send_every: 6 # envoi toutes les 6 lectures
            send_first_at: 1 # envoi à la premiere lecture
            
    temperature:
      name: "${friendly_name} MH_Z19 Temperature"
      id: temp
      filters:
        - sliding_window_moving_average:
            window_size: 24
            send_every: 12
            send_first_at: 1
            
    update_interval: 10s
    automatic_baseline_calibration: false    
     
  - platform: adc #If you don't have or want Carbon Monoxide, Delete (platform: adc and below that)
    pin: A0
    id: carbon_monoxide
    name: "${friendly_name} Monoxide Carbon"
    icon: mdi:molecule-co
    update_interval: 30s
    unit_of_measurement: "ppm"
    device_class: "carbon_monoxide"
    state_class: "measurement"
    filters:
        - lambda: return (x * 1024/5);

  - platform: wifi_signal
    name: "${friendly_name} WiFi Signal Sensor"
    update_interval: 60s

  - platform: uptime
    name: "${friendly_name} Uptime Sensor"
    update_interval: 60s
