# ESP32 S3 mini
substitutions:
  name_e1: "esp121-affichage-tempo"
  friendly_name: esp121
  adress_ip: 192.168.0.121
  time_timezone: "Europe/Paris"
  
esphome:
  name: ${name_e1}
  friendly_name: ${name_e1}
  #platformio_options:
  #  lib_deps: NeoPixelBus@2.6.0
  on_boot:
    priority: 600
    then:
      - light.control:
          id: rgb_led
          brightness: 0.25
          state: on        
      - light.turn_on:
          id: voyant_led
          effect: 'Pulse led'
          red: 100%
          green: 0%
          blue: 0%

esp32:
  board: esp32-s3-devkitc-1
  flash_size: 4MB
  cpu_frequency: 160MHZ
  framework:
    type: arduino

psram:
  mode: octal
  speed: 80MHz
  
logger:
  level: DEBUG

api:

web_server:
  port: 80
  version: 1
  
ota:
  platform: esphome

wifi:
  networks:
    - ssid: !secret wifi
      password: !secret mdpwifi
  reboot_timeout: 1min
  manual_ip:
    static_ip: ${adress_ip}
    gateway: 192.168.0.254
    subnet: 255.255.255.0

  fast_connect: true
  output_power: 17dB
  power_save_mode: none

  on_connect:
    - light.turn_on:
        id: voyant_led
        red: 0%
        green: 100%
        blue: 0%
        brightness: 50%
        effect: none

  on_disconnect:
    - light.turn_on:
        id: voyant_led
        effect: 'Pulse led'
        red: 0%
        green: 0%
        blue: 100%

# ---------------------- LEDS ----------------------
light:
  # Voyant mono-LED (WS2812) sur GPIO48
  - platform: esp32_rmt_led_strip
    id: voyant_led
    name: "Pulse led"
    pin: GPIO48
    num_leds: 1
    chipset: WS2812
    rgb_order: GRB
 

  # 5 LEDs SK6812 RGBCW sur GPIO4 pour Tempo
  - platform: esp32_rmt_led_strip
    id: rgb_led
    name: "RGB Tempo"
    pin: GPIO4
    num_leds: 5
    chipset: SK6812
    rgb_order: GRB
    is_rgbw: true
 
# ---------------------- TEMPS ----------------------
time:
  - platform: homeassistant
    timezone: ${time_timezone} 

# ---------------------- GLOBALES ----------------------
globals:
  # Niveau intensité lumineuse
  - id: intlum
    type: float
    restore_value: no
    initial_value: '10'

  # Niveau intensité lumineuse (0–1 pour les lambdas)
  - id: intlum1
    type: float
    restore_value: no
    initial_value: '0.25'

  # Etat pour le clignotement
  - id: blink_state
    type: bool
    restore_value: no
    initial_value: 'false'

# ---------------------- BINAIRE ----------------------
binary_sensor:
  - platform: gpio
    pin:
      number: GPIO16
      inverted: True
    name: bp_raz

  - platform: status
    name: "Status"

# ---------------------- SENSORS ----------------------
sensor:
  - platform: wifi_signal
    name: "WiFi Signal dB"
    id: wifi_signal_db
    update_interval: 60s
    entity_category: "diagnostic"

  - platform: copy
    source_id: wifi_signal_db
    name: "WiFi Signal Percent"
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "Signal %"
    entity_category: "diagnostic"
    device_class: ""

  - platform: homeassistant
    entity_id: "sensor.mp2_tension_entree_l1"
    id: u_reseau

text_sensor:
  - platform: wifi_info
    ip_address:
      name: Adresse IP
    ssid:
      name: Wifi connecté
    mac_address:
      name: Adresse Mac

  - platform: homeassistant
    name: "Tempo Jour"
    entity_id: sensor.rte_tempo_couleur_actuelle
    id: tempo_jour

  - platform: homeassistant
    name: "Tempo j+1"
    entity_id: sensor.rte_tempo_prochaine_couleur
    id: tempo_jour1

# ---------------------- SWITCH ----------------------
switch:
  - platform: restart
    name: "Restart" 

# ---------------------- INTERVAL ----------------------
interval:
  - interval: 1s
    then:
      - if:
          condition:
            sensor.in_range:
              id: u_reseau
              below: 10
          then:
            - script.execute: blink_leds_red
          else:
            - script.execute: calcul_led_jour
            - script.execute: calcul_led_jour1

# ------------------------  SCRIPTS ----------------------
script:
  # Clignotement des 5 LEDs en rouge si u_reseau < 10
  - id: blink_leds_red
    mode: single
    then:
      - lambda: |-
          id(blink_state) = !id(blink_state);
      - if:
          condition:
            lambda: 'return id(blink_state);'
          then:
            - light.addressable_set:
                id: rgb_led
                range_from: 0
                range_to: 4
                red: !lambda 'return id(intlum1);'
                green: 0%
                blue: 0%
          else:
            - light.addressable_set:
                id: rgb_led
                range_from: 0
                range_to: 4
                red: 0%
                green: 0%
                blue: 0%

  # Couleur du Jour en cours (LEDs 0 et 1)
  - id: calcul_led_jour
    mode: single
    then:
      # Valeur incohérente -> on éteint 0,1 et la LED 2 (séparateur)
      - if:
          condition:
            and:
              - lambda: |-
                  return strcmp(id(tempo_jour).state.c_str(),"Bleu") != 0;
              - lambda: |-
                  return strcmp(id(tempo_jour).state.c_str(),"Blanc") != 0;
              - lambda: |-
                  return strcmp(id(tempo_jour).state.c_str(),"Rouge") != 0;
          then:
            - light.addressable_set:
                id: rgb_led
                range_from: 0
                range_to: 2
                red: 0%
                green: 0%
                blue: 0%

      # Bleu
      - if: 
          condition:
            - lambda: |-
                return strcmp(id(tempo_jour).state.c_str(),"Bleu") == 0;
          then:
            - light.addressable_set:
                id: rgb_led
                range_from: 0
                range_to: 1
                red: 0%
                green: 0%
                blue: !lambda 'return id(intlum1);'
            - light.addressable_set:
                id: rgb_led
                range_from: 2
                range_to: 2
                red: 0%
                green: 0%
                blue: 0%

      # Blanc
      - if: 
          condition:
            - lambda: |-
                return strcmp(id(tempo_jour).state.c_str(),"Blanc") == 0;
          then:
            - light.addressable_set:
                id: rgb_led
                range_from: 0
                range_to: 1
                red: !lambda 'return id(intlum1);'
                green: !lambda 'return id(intlum1);'
                blue: !lambda 'return id(intlum1);'
            - light.addressable_set:
                id: rgb_led
                range_from: 2
                range_to: 2
                red: 0%
                green: 0%
                blue: 0%

      # Rouge
      - if: 
          condition:
            - lambda: |-
                return strcmp(id(tempo_jour).state.c_str(),"Rouge") == 0;
          then:
            - light.addressable_set:
                id: rgb_led
                range_from: 0
                range_to: 1
                red: !lambda 'return id(intlum1);'
                green: 0%
                blue: 0%
            - light.addressable_set:
                id: rgb_led
                range_from: 2
                range_to: 2
                red: 0%
                green: 0%
                blue: 0%

  # Couleur du lendemain (LEDs 3 et 4)
  - id: calcul_led_jour1
    mode: single
    then:
      # Valeur incohérente -> on éteint 3 et 4
      - if: 
          condition:
            and:
              - lambda: |-
                  return strcmp(id(tempo_jour1).state.c_str(),"Bleu") != 0;
              - lambda: |-
                  return strcmp(id(tempo_jour1).state.c_str(),"Blanc") != 0;
              - lambda: |-
                  return strcmp(id(tempo_jour1).state.c_str(),"Rouge") != 0;
          then:
            - light.addressable_set:
                id: rgb_led
                range_from: 3
                range_to: 4
                red: 0%
                green: 0%
                blue: 0%

      # Bleu
      - if: 
          condition:
            - lambda: |-
                return strcmp(id(tempo_jour1).state.c_str(),"Bleu") == 0;
          then:
            - light.addressable_set:
                id: rgb_led
                range_from: 3
                range_to: 4
                red: 0%
                green: 0%
                blue: !lambda 'return id(intlum1);'

      # Blanc
      - if: 
          condition:
            - lambda: |-
                return strcmp(id(tempo_jour1).state.c_str(),"Blanc") == 0;
          then:
            - light.addressable_set:
                id: rgb_led
                range_from: 3
                range_to: 4
                red: !lambda 'return id(intlum1);'
                green: !lambda 'return id(intlum1);'
                blue: !lambda 'return id(intlum1);'

      # Rouge
      - if: 
          condition:
            - lambda: |-
                return strcmp(id(tempo_jour1).state.c_str(),"Rouge") == 0;
          then:
            - light.addressable_set:
                id: rgb_led
                range_from: 3
                range_to: 4
                red: !lambda 'return id(intlum1);'
                green: 0%
                blue: 0%
