# https://github.com/jjohnsen/esphome-altherma
substitutions:
  adress_ip: "192.168.0.126"
  device_name: "esp126-pac"
  friendly_name: "esp126-pac"
  time_timezone: "Europe/Paris"

esp32:
  board: esp32dev
  framework:
    type: esp-idf

packages:
  #altherma_sensors: !include pac/erga_eh_da_04_08.yaml
  altherma_sensors: !include pack_esp126/lt_da_04_08kw.yaml

esphome:
  name: ${device_name}
  friendly_name: ${device_name}
  # Automatically add the mac address to the name
  # so you can use a single firmware for all devices
  # name_add_mac_suffix: true
  # Uncomment below for using mock uart during development:
  #platformio_options:
  #  build_flags:
  #    - -DUSE_MOCK_UART


# Enable logging
logger:
  level: DEBUG

# Enable Home Assistant API
api:

ota:
  platform: esphome

web_server:
  port: 80

wifi:
  networks:
    - ssid: !secret wifi_esp
      password: !secret mdpwifi_esp
  reboot_timeout: 5min
  min_auth_mode: WPA2

  manual_ip:
    static_ip: ${adress_ip}
    gateway: 192.168.0.254
    subnet: 255.255.255.0
    dns1: !secret dns1
    dns2: !secret dns2    
    
external_components:
  - source: github://jjohnsen/esphome-altherma@main
    components: [altherma_hub]

#external_components:
#  - source:
#      type: local
#      path: components

uart:
  id: uart_bus
  tx_pin: GPIO17
  rx_pin: GPIO16
  baud_rate: 9600
  data_bits: 8
  parity: EVEN
  stop_bits: 1

altherma_hub:
  id: altherma_hub_1
  uart_id: uart_bus
  update_interval: 30s

binary_sensor:
#Etat de la connection
  - platform: status
    name: "Status"

