esphome:
  name: esp121
  friendly_name: ESP-121
  on_boot:
    priority: 600
    then:
      - light.turn_on:
          id: voyant_led
          effect: 'Pulse led'
          red: 100%
          green: 0%
          blue: 0%
          
esp32:
  board: esp32-s3-devkitc-1
  flash_size: 16MB
  cpu_frequency: 240MHZ
  framework:
    type: esp-idf
    
psram:
  
logger:
  level: DEBUG
api:

web_server:
  port: 80
  version: 1
  
ota:
  platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  #output_power: 8.5dB
  fast_connect: true           # Évite la recherche de SSID si tu n’as qu’un seul AP connu
  output_power: 17dB           # Entre 15 et 20dB = plus stable qu’à 8.5dB
  power_save_mode: none
  
  manual_ip:
    static_ip: 192.168.0.121
    gateway: 192.168.0.254
    subnet: 255.255.255.0
    #dns1: !secret dns1
    #dns2: !secret dns2

  on_connect:
    - light.turn_on:
        id: voyant_led
        red: 0%
        green: 100%
        blue: 0%
        brightness: 50%
        effect: none

  on_disconnect:
    - light.turn_on:
        id: voyant_led
        effect: 'Pulse led'
        red: 0%
        green: 0%
        blue: 100%


light:
  - platform: esp32_rmt_led_strip
    rgb_order: GRB
    pin: GPIO48
    num_leds: 1
    id: voyant_led
    chipset: ws2812
    name: "Pulse led"

text_sensor:
  - platform: wifi_info
    ip_address:
      name: Adresse IP
    ssid:
      name: Wifi connecté
    mac_address:
      name: Adresse Mac

sensor:
  - platform: wifi_signal
    name: "WiFi Signal dB"
    id: wifi_signal_db
    update_interval: 10s
    entity_category: "diagnostic"

  - platform: copy
    source_id: wifi_signal_db
    name: "WiFi Signal %"
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "%"
    entity_category: "diagnostic"

    