substitutions:
  device_name: esp144-test-wt32-eth01
  adress_ip: "192.168.0.144"
  friendly_name: esp144
  time_timezone: "Europe/Paris"
  
esphome:
  name: ${device_name}
esp32:
  board: wt32-eth01 #esp-wrover-kit

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  - platform: esphome
    
web_server:
  port: 80

ethernet:
  type: LAN8720
  mdc_pin: GPIO23
  mdio_pin: GPIO18
  clk_mode: GPIO0_IN
  phy_addr: 1
  power_pin: GPIO16

  manual_ip:
    static_ip: ${adress_ip}
    gateway: 192.168.0.254
    subnet: 255.255.255.0

output:
  - platform: ledc
    pin: GPIO2
    frequency: 90 Hz
    id: pwm_output

sensor:
# Lecture dans HA
  - platform: homeassistant
    name: "${friendly_name} Consigne Puissance Dimmer"
    entity_id: input_number.valeur_dimer
    id: p_dimmer
    on_value:
      then:
        - output.set_level:
            id: pwm_output
            level: !lambda "return x/1000;"

#Etat de la connection
binary_sensor:
  - platform: status
    name: "${friendly_name} Status"


    

    